NONMEM7.4.3.zip
PsN-4.8.1.tar.gz
install/
bak/
**/models/*
!**/models/CONTROL5.mod
!**/models/THEOPP.dat
!**/models/pirana_auto_mpi.pnm
execute
vpc
scm
bootstrap
nmfe74
nmfe75
nmshell
nonmem.lic
setup.pl
OnlyMe.md